@inherits LayoutComponentBase

<div class="site-wrapper">
    <PageFrame />
    <NavMenu />
    <main>
        @Body
    </main>
    <footer class="site-footer">
        <a href="impressum" class="footer-link">Impressum</a>
    </footer>
</div>
