@inherits LayoutComponentBase

<div class="page-frame" aria-hidden="true"></div>
<CornerDecor Position="tl" />
<CornerDecor Position="tr" />
<CornerDecor Position="bl" />
<CornerDecor Position="br" />

<div class="site-wrapper">
    <NavMenu />
    <main>
        @Body
    </main>
</div>
