<div class="page-frame-wrapper" aria-hidden="true">
    <svg class="border-svg" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.375" y="0.375" width="calc(100% - 0.75px)" height="calc(100% - 0.75px)"
              fill="none" stroke="currentColor" stroke-width="0.75"/>
    </svg>
    <img class="corner corner-tl" src="/images/corner-ornament.png" alt="" />
    <img class="corner corner-tr" src="/images/corner-ornament.png" alt="" />
    <img class="corner corner-bl" src="/images/corner-ornament.png" alt="" />
    <img class="corner corner-br" src="/images/corner-ornament.png" alt="" />
</div>
